* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    background: white;  
}
.form-body {
    width: 400px;
    min-width: 300px;
    border-radius: 10px;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    border: solid 1px;
    margin: 10px;
    box-shadow: 10px 15px black;
}
.form-body img {
    width: 150px;
    display: block;
    margin: 20px auto;

}
.text {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
    color: #000000;
    margin-bottom: 25px;
}
.form-body input {
    display: block;
    margin: auto;
    height: 40px;
    width: 75%;
    padding-left: 10px;
    color: #000000;
    border: 1px solid #000000;
    border-radius: 2px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: transparent;
    border-top-left-radius: 10px;  
    border-bottom-right-radius: 10px;
    font-size: 1rem;
    outline: none;
}
.form-body input[type="password"] {
    margin-top: 20px;
}
::placeholder {
    font-size: 1rem;
    color: #000;
}
.form-body input:hover {
    transition: .5s;
    border: 2px solid #484848;
    color: #000000;
}
.form-body button {
    display: block;
    margin: auto;
    margin-top: 25px;
    margin-bottom: 30px;
    height: 40px;
    width: 78%;
    background: transparent;
    color: #000;
    border-radius: 2px;
    cursor: pointer;
    outline: none;
    transition: all .5s ease;
}
.form-body button:hover {
    color: #ffffff;
    border: 2px solid #000000;
    background: linear-gradient(#616161,#000000);
}