h1 {
    text-align: center;
    color: #333;
    margin-top: 30px;
}

.container {
    display: flex;
    justify-content: space-around;
    padding: 5PX;
    flex-wrap: wrap;
}

table {
    border-collapse: collapse;
    width: 350px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
}

th, td {
    padding: 10px;
    text-align: center;
    border: 1px solid #ddd;
}

th {
    background-color: #6b2ee5;
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    background-color: rgb(255, 255, 255);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 20px 20px rgb(0, 0, 0);
}
.form-group {
    margin-bottom: 10px;
}
.form-group label {
    font-size: 1.1em;
    margin-bottom: 5px;
}
.form-group input {
    width: 50%;
    padding: 5px;
    font-size: 1em;
    border-radius: 15px;
    border: 2px solid #000000;
    box-shadow: #FEE365;
}

.form-group input[type="submit"] {
    background-color: #21c526;
    color: rgb(0, 0, 0);
    cursor: pointer;
    border: none;
    width: 60%;
    font-weight: bold;
}
.form-group input[type="submit"]:hover {
    background-color: #c62de1;
}
.error {
    color: red;
    font-size: 0.9em;
    display: none;
}

.select-container { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* position: relative; */
    min-width: 250 px;
    height: 20 px;  
}
.select-box {
    border-radius: 15px;
    appearance: auto;
    text-align: center;
    width: 50%;
    color: rgb(0, 0, 0);
    background-color: #ffffff;
    font-size: 1.5rem;
    margin-bottom: 15px;
}

.select-container .lb{
    font-size: 1.3rem;
}

.form-group input {
    width: 50%;
    padding: 5px;
    font-size: 1rem;
    border-radius: 20px;
    border: 2px solid #000000;
    box-shadow: #FEE365;
    text-align: center;
}
.form-group input[type="submit"] {
    background-color: #21c526;
    color: white;
    cursor: pointer;
    border: none;
    width: 60%;
}