body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #912EED;
}

.login-container {
    background-color: white;
    padding: 50px;
    border-radius: 8px;
    box-shadow: 0 10px 10px rgba(253, 255, 248, 0.962);
    width: 300px;
}

.login-container h2 {
    text-align: center;
    margin-bottom: 20px;
}

.input-field {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.input-field:focus {
    border-color: #4CAF50;
    outline: none;
}

.login-button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.login-button:hover {
    background-color: #45a049;
}

.error {
    color: red;
    font-size: 12px;
    text-align: center;
}